<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<h2>Enter Clues</h2>
		<div class="mdl-textfield mdl-js-textfield">
	    	<textarea [(ngModel)]="words" (change)="onChange(words)" class="mdl-textfield__input"></textarea>
	    	<label class="mdl-textfield__label" for="sample5">Text lines...</label>
		</div>
		<div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="onGetAnswer()">
			  Start
			</button>
		</div>
		<div>
			<h2>Possible Answer(s)</h2>
			<ul class="possibleAnswers">
			  <li *ngFor="let word of wordsPoints; let i = index">
			  	<strong *ngIf="i==0">
				    {{word.word}} - {{word.points}} points
				</strong>
				<span *ngIf="i>0">
					{{word.word}} - {{word.points}} points
				</span>
				<input [(ngModel)]="word.likeness" name="likeness" />
			  </li>
			</ul>
		</div>
		<div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="onCheckLikeness()">
			  Refresh
			</button>
		</div>
	</div>
</div>