<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp">
        </div>
      </div>
    </div>
  </header>
  <main class="main-container mdl-layout__content">
    <div class="page-content">
      <app-fallouthackcracker-component></app-fallouthackcracker-component>
    </div>
  </main>
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">{{title}}</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="http://mqcristobal.vhinandrich.com/">Mark Quirvien Cristobal</a></li>
        <li><a href="https://angular.io/">Angular 2</a></li>
        <li><a href="https://getmdl.io/">Material Design Lite</a></li>
      </ul>
    </div>
  </footer>
</div>